einops==0.8.1
fastapi==0.115.6
numpy==2.2.4
safetensors==0.5.3
sentencepiece==0.2.0
torch==2.6.0
git+https://github.com/huggingface/peft.git
git+https://github.com/huggingface/transformers.git
uvicorn[standard]==0.34.0
